doctype html
html(lang='ko')
    head 
        include partials/header
    body
        h1 #{pageTitle}
        nav 
            a(href="/") HOME
            if !loggedIn
                a(href="/users/join") JOIN
                a(href="/users/login") LOGIN
                a(href="/videos/uploadVideo") UPLOAD video
            if loggedIn
                a(href="/users/logout") LOGOUT 
                a(href="/users/editProfile") EDIT profile
        block content
    footer
        include partials/footer