doctype html
html(lang='ko')
    head 
        include partials/header
    body
        h1 #{pageTitle}
        nav 
            a(href="/") HOME
            if !loggedIn
                a(href="/users/join") JOIN
                a(href="/users/login") LOGIN
            if loggedIn
                a(href=`/users/${loggedInUser._id}`) #{loggedInUser.userName}'s PROFILE
                a(href="/videos/uploadVideo") UPLOAD video
                a(href="/users/editProfile") EDIT profile
                a(href="/users/logout") LOGOUT 
        block content
    footer
        include partials/footer