doctype html
html(lang='ko')
    head 
        include partials/header
    body
        h1 #{pageTitle}
        nav 
            a(href="/") HOME
            a(href="/users/join") JOIN
            a(href="/users/login") LOGIN
            if loggedIn
                a(href="/users/logout") LOGOUT 
            else 
                p Can't login
            a(href="") Test
            a(href="") Test
        block content
    footer
        include partials/footer