extends base
block content 
	p Password Change Page
	form(method="POST")
		input(type="password", name="password", id="password", min=8, max=20, required, placeholder="Input new password please")
		input(type="submit", value="Confirm")