extends base
block content 
	h3 VideoTitle📺 = #{videoCreator.videoTitle}
	h5 Description = #{videoCreator.description}
	h5 Created By = #{videoCreator.createdBy.userName}
	video(width=350, height=300, src="/"+videoCreator.fileUrl, controls)
	hr