extends base
block content 
	h3 VideoTitle📺 = #{videos.videoTitle}
	h5 Description = #{videos.description}
	h5 Created By = #{videos.createdBy.userName}
	video(width=350, height=300, src="/"+videos.fileUrl, controls)
	hr